/* Services Card */
/*  Home -> Services */

.card-warpper {
  background: #ffffff;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  border: none;
  color: #5f5f5f;
}

.card-warpper .card-inner .card-img {
  float: left;
  width: 100%;
  max-width: 220px;
  height: auto;
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 0px;
  border-radius: 18px;
}

.card-warpper .card-content .card-title {
  padding-top: 30px;
  font-size: 22px;
}

.card-warpper .card-content .card-text {
  font-size: 16px;
}
.card-warpper .card-content {
  padding-right: 10px;
}

.card-warpper .card-btn {
  float: right;
  margin-right: 12px;
  margin-bottom: 10px;
  border: 1px solid var(--primary);
  color: var(--primary);
  border-radius: 5px;
}
.card-warpper .card-btn:hover {
  border: 1px solid var(--primary);
  color: white;
  background-color: var(--primary);
  border-radius: 5px;
}

.card-warpper .card-inner {
  position: relative;
  height: 100%;
}

.card-warpper .card-inner .card-btn {
  position: absolute;
  bottom: 0px;
  right: 0;
}
@media (max-width: 942px) {
  .card-warpper .card-inner .card-img {
    max-width: 100%;
  }
  .card-warpper .card-inner .card-img {
    margin-bottom: 10px;
  }
  .card-warpper .card-content {
    padding-left: 10px;
    padding-right: 10px;
  }
  .card-warpper .card-inner {
    padding-bottom: 40px;
    min-height: 500px;
  }
  .card-warpper .card-inner .card-btn {
    position: absolute;
    bottom: 3px;
    right: 0;
  }
}

/* Services --> Section 1 */

.services-wrapper .services-card {
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  position: relative;
  min-height: 385px;
}

.services-wrapper .services-card img {
  padding: 10px;
  border-radius: 15px;
  width: 100%;
  height: auto;
}

.services-wrapper .services-card .services-card-content {
  padding: 5px 10px 15px 15px;
  color: #5f5f5f;
}

.services-wrapper .services-card-content h3 {
  font-size: 1.375rem;
  font-weight: 600;
}

.services-wrapper .services-card-content p {
  font-size: 1rem;
}

.services-wrapper .services-card-content a {
  text-decoration: none;
  position: absolute;
  right: 12px;
  bottom: 10px;
  font-size: 0.875rem;
  background-color: #5f5f5f;
  color: #ffffff;
}

.services-wrapper .services-card-content a:hover {
  text-decoration: none;
  position: absolute;
  right: 12px;
  bottom: 10px;
  font-size: 0.875rem;
  background-color: var(--primary);
  color: #ffffff;
}

.selected-service-provider {
  background-color: #434343;
  padding-top: 100px;
  padding-bottom: 100px;
}

.selected-service-provider .page-title {
  color: #ffffff;
}

/* Service page --> section 1 card */

.mycard-wrapper {
  margin-bottom: 60px;
}

.mycard {
  background-color: #5f5f5f;
  display: flex;
  flex-direction: row;
  justify-content: space-center;
  border-radius: 6px;
}

.mycard .mycard-img {
  border: 4px solid #fe8a00;
  border-radius: 10px;
  max-width: 214px;
  position: relative;
  top: -18px;
  left: 15px;
}

.mycard .mycard-content {
  margin: 25px 20px 0px 30px;
}

.mycard .mycard-content h3,
.mycard .mycard-content p {
  color: white;
}
.mycard .mycard-content h3 {
  font-size: 22px;
  margin-bottom: 16px;
}
.mycard .mycard-content p {
  font-size: 16px;
}

.mycard .my-card-btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: #fe8a00;
  color: white;
}
.mycard .my-card-btn:hover {
  background-color: #fe7b00;
  color: white;
}

@media (max-width: 991px) {
  .mycard-wrapper {
    margin-bottom: 100px;
  }

  .mycard {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .mycard .mycard-img {
    width: 100%;
    height: auto;
    border: 4px solid #fe8a00;
    border-radius: 10px;
    max-width: 93%;
    position: relative;
    top: -50px;
    margin-right: auto;
  }

  .mycard .mycard-content {
    margin: -25px 20px 0px 20px;
    height: 170px;
  }
}

.camera-available h5 {
  text-align: left;
}

.mycard-3 {
  border: 2px solid white;
  margin-bottom: 20px;
  border-radius: 7px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.mycard-3 img {
  margin: 10px;
  width: 100%;
  max-width: 100px;
  border-radius: 5px;
}

.mycard-3 .mycard-3-content {
  margin: 10px;
}

.mycard-3 .mycard-3-content h5 {
  color: white;
  margin-top: 10px;
}

.mycard-3 .mycard-3-content p {
  color: white;
  margin-top: 5px;
}

.package-card h3 {
  margin-bottom: 15px;
}

.package-card h5 {
  margin-top: 15px;
  color: #5f5f5f;
}

.package-card .price span {
  color: #ff8a00;
}
